<footer class="site-footer">
    <div class="wrapper">
        <!-- disquss -->

        <!-- disquss -->

        <!-- Google Analitics -->

        <!-- Google Analitics -->

        <div align="center">
            {% if page.keywords %}
            <p>
              <strong>Tags:</strong> {{ page.keywords | strip_html | strip_newlines |
              truncate: 160 }} {% endif %}
            </p>
          </div>

        <h2 class="footer-heading" align="center">
            PROGRAMMIST.NET - программист ищет работу
        </h2>

        <p align="center">
            <strong
                >Готов программировать на: js ( react / typescript / node.js ),
                java / scala, golang, python, sql, pl/sql</strong
            >
        </p>
    </div>
</footer>
