<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ site.baseurl }}/js/">React / TypeScript / Node.js / GraphQL</a>
        <a class="page-link" href="{{ site.baseurl }}/">Machine Learing / Deep Learning / BigData</a>
        <a class="page-link" href="{{ site.baseurl }}/blockchain/hyperledger/">BlockChain (HyperLedger Fabric)</a>
        <a class="page-link" href="{{ site.baseurl }}/devops/">Docker / Kubernetes / Clouds</a>
        <a class="page-link" href="{{ site.baseurl }}/chat/">Chat</a>
      </div>
    </nav>

  </div>

</header>